<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a class="active" href="/">SHOP</a></li>
                <li class="main-header_item"><a href="/admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>
    <img src="/images/404error.png" class="img" alt="404">
    <!-- <h1>404</h1><br>
    <h3>Page not found</h3> -->
</body>
</html>