.orders {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .orders__item h1 {
      margin: 0;
      font-size: 1rem;
  }
  
  .orders__item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 13.5rem;
  }
  
  .orders__products {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .orders__products-item {
      margin: 0.5rem 0;
      padding: 0.5rem;
      background: linear-gradient( 82.3deg, #dffffd 10.8%, #cfebff 94.3% );
      border: 1px solid #6cd5ce;
      color: #086f6b;
  }
  